html {
    font-family: Arial, Helvetica, sans-serif;
}

h1.apartment {
    text-align: center;
}

h1 {
    text-align: center;
}
.button-section {
  background-color: #ffffff;
  text-align: center;
  border: 2px solid #000000;
  padding: 20px;
  padding-bottom: 55px;
  margin-top: 40px; /* Adjust margin-top to move the section down */
  margin-left: 20px; /* Adjust margin-left to move the section to the left */
  left: -40px; 
}
button {
  margin-bottom: 20px; 
}
.button-section a {
  margin-top: 10px; 
}
.move-right {
  text-align: left;
  padding-left: 140px;
  }
  
  .icons i {
      color: rgb(226, 208, 110);
      display: inline-block;
  }
  
  .fa-heart {
      margin-left: 80px;
  }
  
  
  @media screen and (max-width: 767px) {
      /* Your CSS styles for small screens go here */
      .button-section {
          padding: 20px;
          display: none;
      }
      .small-screen {
          padding-left: 10px;
      }
  
      h1 {
          text-align: center;
      }
      
  }
  
  /* Media query for big screens (e.g., desktops) */
  @media screen and (min-width: 768px) {
  
      body {
          font-size: 18px;
      }
  
  .flex-container { /* my flexbox container class */
      display: flex;
      box-sizing: border-box;
      flex-wrap: wrap;
      padding: 0.5rem;
  }
  
  .flex-item {
   padding: 20px;
  }
  
  ul#flex {
      display: flex;
      flex-wrap: wrap;
  }
  }
  .cent-img {
    float: left;
    width: 500px;
    max-width: 100%;
    height: auto;
  }
  .ex-pad {
      padding-left: 200px;
  }


  #indexhtml{
    height: 100%;
  }
#indexmain{
    flex: 1;
    height: 100%;
  }
  p{
    padding: 0.5rem 1rem;
  }
  
  #indexbody {
    display: flex;
    flex-direction: column;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    margin: 0;
    height: inherit;
  }
  .indexcontainer{ 
    display: flex;
    padding: 1em;
    height: 100%;
  }
  .sect2{
    flex-basis: 240px;
    padding: 1em;
    flex: 1;
    background-color: #eee;
  }
  .sect3{
    flex-basis: 240px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 1em;
    background-color: aliceblue;
    position: relative;
  }
  .container2{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
  }
  .card-item{
    flex: 0 0 250px;
    background-color: white;
    margin: 0.5rem;
    box-shadow: 01px 3px rgba(0,0,0,0.16) ,01px 3px rgba(0,0,0,0.23);
    border-radius: 2px;
  }
  .card-item img{
    max-width: 250px;
  }
  .mapsLink p{
    text-align: center;
    width: 100%;
  }
  .mapsLink a{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 2px;
  }
  
  .card-item p{
    margin:0;
    text-align: center;
  }
  h2,h3{
    text-align: center;
  }




  
