h1 {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: purple; 
}

h2 {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

p {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;  
}